<h1>Simulators</h1>

<p *ngIf="!simulators"><em>Loading...</em></p>

<i (click)="reload()" class="fas fa-sync"></i>

<table class='table table-striped' *ngIf="simulators">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Last Update</th>
      <th>Sim Instance</th>
      <th>Sim Type</th>
      <th>Current State</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let simulator of simulators">
      <td> <i (click)="stopSimulator(simulator.instanceId)" class="fas fa-stop"></i></td>
      <td> <i (click)="startSimulator(simulator.instanceId)" class="fas fa-play"></i></td>
      <td>{{ simulator.lastUpdate }}</td>
      <td><a (click)="selectSim(simulator.instanceId)" href="#"> {{ simulator.instanceName }}</a></td>
      <td>{{ simulator.simulatorName }}</td>
      <td>{{ simulator.currentState.name }}</td>
      <td>{{ simulator.status.text }}</td>
    </tr>
  </tbody>
</table>

<div *ngIf="currentSimulator">
  <h1>{{currentSimulator.instanceName}} - ({{currentSimulator.simulatorName}})</h1>
  <div>
    <select (change)="changeState($event.target.value)" [(ngModel)]="currentSimulator.currentState.key">
      <option *ngFor="let state of currentSimulator.states" value="{{state.key}}">
        {{state.name}}
      </option>
    </select>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-9">
        <h4>Simulator Messages</h4>
        <div style="background-color:black;color:yellow;font-family:'Courier New';font-size:8pt;margin:8px;padding:4px;height:780px"
             class="pre-scrollable">
          <div *ngFor="let msg of messages" style="font-family: consolas;font-size:12px">{{ msg }}</div>
        </div>
      </div>
      <div class="col-3">
        <div *ngFor="let msg of currentSimulator.messages">
          <a href="#" (click)="sendMessage(msg.id)">{{msg.name}}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4>System Messages</h4>
        <div style="background-color:black;color:yellow;font-family:'Courier New';font-size:8pt;margin:8px;padding:4px;height:780px"
             class="pre-scrollable">
          <div *ngFor="let msg of logmessages" style="font-family: consolas;font-size:12px">{{ msg }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
