<h1>Simulators</h1>

<p *ngIf="!simulators"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="simulators">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let simulator of simulators">
      <td><a (click)="selectSim(simulator.instanceId)" href="#" > {{ simulator.instanceName }}</a></td>
      <td>{{ simulator.simulatorName }}</td>
      <td>{{ simulator.lastUpdate }}</td>
    </tr>
  </tbody>
</table>

<div style="width:800px;height:400px;background-color: black;color: yellow">
  <ol style="list-style-type: none;">
    <li *ngFor="let msg of messages" style="margin: 0px">
     <span style="font-family: consolas;font-size:12px">{{ msg }}</span>
    </li>
  </ol>
</div>