<div style="margin: 20px;">
  <img width="300px" src="assets/logo-seawolf-grey.png" />
  <div (click)="reload()" style="cursor:pointer; float:right; font-size:24pt">
    <i class="fas fa-sync"></i><br />
    reload
  </div>
</div>

<p *ngIf="!simulators" style="font-size:36pt; text-align: center;">
  Loading...
  <i style="margin-right: 10pt;" class="fa fa-cog fa-spin"></i>
</p>

<table class='table table-striped' *ngIf="simulators">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Last Update</th>
      <th>Sim Instance</th>
      <th>Current State</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let simulator of simulators">
      <td> <i (click)="stopSimulator(simulator.instanceId)" class="fas fa-stop"></i></td>
      <td> <i (click)="startSimulator(simulator.instanceId)" class="fas fa-play"></i></td>
      <td>{{ simulator.lastUpdate }}</td>
      <td><a (click)="selectSim(simulator.instanceId)"> {{ simulator.instanceName }}</a></td>
      <td>{{ simulator.currentState.name }}</td>
      <td>{{ simulator.status.text }}</td>
    </tr>
  </tbody>
</table>
<script>

  function selectImage(txt) {
  }

</script>

<div *ngIf="currentSimulator">
  <h1>{{currentSimulator.instanceName}}</h1>

  <img src='assets/BoatTopView.jpg' usemap='#sensorMap' />
  <div style="float:right;height: 310px; margin-left: 5px; border-radius: 5px; width: 300px; background-color: #f0f0f0;border:1px solid lightgrey">
    <select (change)="changeState($event.target.value)" [(ngModel)]="currentSimulator.currentState.key">
      <option *ngFor="let state of currentSimulator.states" value="{{state.key}}">
        {{state.name}}
      </option>
    </select>

    <h4 style='text-align: center;margin-bottom: 40px;margin-top:40px'>{{activeSensor.name}}</h4>
    <div style='align-content: center;'>
      <table style="width: 100%;">
        <tr>
          <td  *ngIf="activeSensor.lowToleranceValue !== -1" (click)='sendValue(activeSensor.lowToleranceValue)'
            style="cursor:pointer; font-weight: bold; text-align: center;color:#E95C5D;font-size:20pt">
            {{activeSensor.lowToleranceValue}}</td>
       
          <td *ngIf="activeSensor.lowWarningValue !== -1" (click)='sendValue(activeSensor.lowWarningValue)' style="cursor:pointer; font-weight: bold; color:#FFC87F; text-align: center;font-size:20pt">
              {{activeSensor.lowWarningValue}}</td>
           
          <td  *ngIf="activeSensor.inToleranceValue !== -1" (click)='sendValue(activeSensor.inToleranceValue)' style="cursor:pointer; font-weight:bold; color:#55A9F2; text-align: center;font-size:20pt">
            {{activeSensor.inToleranceValue}}</td>
         
          <td  *ngIf="activeSensor.highWarningValue !== -1" (click)='sendValue(activeSensor.highWarningValue)' style="cursor:pointer; font-weight: bold; color:#FFC87F; text-align: center;font-size:20pt">
              {{activeSensor.highWarningValue}}</td>
       
          <td *ngIf="activeSensor.highToleranceValue !== -1" (click)='sendValue(activeSensor.highToleranceValue)'
            style="cursor:pointer; font-weight: bold; text-align: center;color:#E95C5D;font-size:20pt ">
            {{activeSensor.highToleranceValue}}</td>
        </tr>
      </table>
      <div *ngFor="let msg of currentSimulator.messages">
        <a href="#" (click)="sendMessage(msg.id)">{{msg.name}}</a>
      </div>
    </div>
  </div>

  <div>
    <h4>Sensor Ports</h4>
    <ul style="list-style: none;">
      <li>5 - Cranking Battery</li>
      <li>6 - Trolling Motor</li>
      <li>7 - Battery Switch</li>
      <li>3 - Live Well</li>
      <li>2 - Gas Vapor Detector</li>
      <li>4 - Outside Temperature</li>
      <li>5 - Cooler Temperature</li>
      <li>6 - High Water</li>
      <li>7 - Motion Detector</li>
      <li>8 - Moisture Detector</li>
    </ul>
  </div>

  <map name="sensorMap">
    <area (click)="selectImage('livewell'); $event.stopPropagation()" title="Live Well"
      href="javascript:console.log('nop');" coords="199,127,234,187" shape="rect">
    <area (click)="selectImage('trollingmotor'); $event.stopPropagation()" title="Trolling Motor"
      href="javascript:console.log('nop');" coords="732,120,795,198" shape="rect">
    <area (click)="selectImage('vapor'); $event.stopPropagation()" title="Gas Vapor"
      href="javascript:console.log('nop');" coords="0,127,120,190" shape="rect">
    <area (click)="selectImage('starterbattery'); $event.stopPropagation()" title="Starter Battery"
      href="javascript:console.log('nop');" coords="130,127,179,190" shape="rect">
    <area (click)="selectImage('batteryswitch'); $event.stopPropagation()" title="Battery Switch"
      href="javascript:console.log('nop');" coords="243,200,273,243" shape="rect">
    <area (click)="selectImage('motion'); $event.stopPropagation()" title="Motion Detector"
      href="javascript:console.log('nop');" coords="264,45,344,159" shape="rect">
    <area (click)="selectImage('gps'); $event.stopPropagation()" title="Location Tracking"
      href="javascript:console.log('nop');" coords="358,45,409,159" shape="rect">
    <area (click)="selectImage('highwater'); $event.stopPropagation()" title="High Water Detector"
      href="javascript:console.log('nop');" coords="484,121,553,198" shape="rect">
    <area (click)="selectImage('ambienttemperature'); $event.stopPropagation()" title="Ambient Temperature"
      href="javascript:console.log('nop');" coords="298,6,459,42" shape="rect">
    <area (click)="selectImage('coolertemperature'); $event.stopPropagation()" title="Cooler"
      href="javascript:console.log('nop');" coords="144,192,185,241" shape="rect">
    <area (click)="selectImage('moisture'); $event.stopPropagation()" title="Moisture"
      href="javascript:console.log('nop');" coords="409,76,479,159" shape="rect">
  </map>

  <div *ngIf="showDiagnostics">
    <div class="container">
      <div class="row">
        <div class="col-9">
          <h4>Simulator Messages</h4>
          <div
            style="background-color:black;color:yellow;font-family:'Courier New';font-size:8pt;margin:8px;padding:4px;height:780px"
            class="pre-scrollable">
            <div *ngFor="let msg of messages" style="font-family: consolas;font-size:12px">{{ msg }}</div>
          </div>
        </div>
        <div class="col-3">
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4>System Messages</h4>
          <div
            style="background-color:black;color:yellow;font-family:'Courier New';font-size:8pt;margin:8px;padding:4px;height:780px"
            class="pre-scrollable">
            <div *ngFor="let msg of logmessages" style="font-family: consolas;font-size:12px">{{ msg }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>